# General
gpu_config: /data/samson/octopi-1.5/configs/gpu_config.json
cuda: 0 # GPU device for non-LLM components
load_exp_path: /data/samson/octopi-1.5/octopi_s/data/weights_llm # Directory of pretrained encoder and/or multimodal LLM
demo_path: /data/samson/octopi-1.5/octopi_s/data/demo_videos/demo # Directory of demo tactile videos
image_path: /data/samson/octopi-1.5/octopi_s/data/demo_videos/demo/rgb.png # Demo scene RGB image
embedding_history_path: /data/samson/octopi-1.5/octopi_s/data/demo_videos/demo/embedding_history.pt # Demo chat history as embeddings
chat_path: /data/samson/octopi-1.5/octopi_s/data/demo_videos/demo/chat.txt # Demo chat history as text for viewing

# LLM
cutoff_len: 256
max_new_tokens: 500
## Reasoning
rag: False # Whether to use RAG or not
rag_generate_embeddings: False # Whether to generate new RAG embeddings using the tactile encoder from the current run
rag_sample_dir: /data/samson/octopi-1.5/octopi_s/data/samples # Directory of samples to generate RAG embeddings for
embedding_dir: /data/samson/octopi-1.5/octopi_s/data/embeddings # Output directory for generated RAG embeddings
rag_new_sample_dir: /data/samson/octopi-1.5/octopi_s/data/samples_new # Directory for new RAG embeddings if rag_generate_embeddings is True
rag_new_embedding_dir: /data/samson/octopi-1.5/octopi_s/data/embeddings_new # Directory for new RAG embeddings if rag_generate_embeddings is True
rag_use_descriptions: True # Whether to use object descriptions for RAG
retrieval_object_num: 5
